<a href="https://colab.research.google.com/github/ArunK-ML/ML-DL-Classification-Regression-Model-Apartment-Rental---Dataset/blob/main/Apartment_Rental.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
file_path = "/content/apartments_for_rent_classified_100K.csv"

with open(file_path, 'r', encoding='cp1252') as f:
    for i in range(5): # Read the first 5 lines
        line = f.readline()
        print(f"Line {i+1}: {line.strip()}")

Line 1: id;category;title;body;amenities;bathrooms;bedrooms;currency;fee;has_photo;pets_allowed;price;price_display;price_type;square_feet;address;cityname;state;latitude;longitude;source;time
Line 2: 5668640009;housing/rent/apartment;One BR 507 & 509 Esplanade;This unit is located at 507 & 509 Esplanade, Redondo Beach, 90277, CAMonthly rental rates range from $2195We have 1 beds units available for rent;null;1;1;USD;No;Thumbnail;Cats;2195;$2,195;Monthly;542;507  509 Esplanade;Redondo Beach;CA;33.8520;-118.3759;RentLingo;1577360355
Line 3: 5668639818;housing/rent/apartment;Three BR 146 Lochview Drive;This unit is located at 146 Lochview Drive, Newport News, 23602, VAMonthly rental rates range from $1250We have 3 beds units available for rent;null;1.5;3;USD;No;Thumbnail;Cats,Dogs;1250;$1,250;Monthly;1500;146 Lochview Dr;Newport News;VA;37.0867;-76.4941;RentLingo;1577360340
Line 4: 5668639686;housing/rent/apartment;Three BR 3101 Morningside Drive;This unit is located at 3101 Morningside Drive, Raleigh, 27607, NCMonthly rental rates range from $1395We have 3 beds units available for rent;null;2;3;USD;No;Thumbnail;None;1395;$1,395;Monthly;1650;3101 Morningside Dr;Raleigh;NC;35.8230;-78.6438;RentLingo;1577360332
Line 5: 5668639659;housing/rent/apartment;Two BR 209 Aegean Way;This unit is located at 209 Aegean Way, Vacaville, 95687, CAMonthly rental rates range from $1600 - $1725We have 2 beds units available for rent;null;1;2;USD;No;Thumbnail;Cats,Dogs;1600;$1,600;Monthly;820;209 Aegean Way;Vacaville;CA;38.3622;-121.9712;RentLingo;1577360330

In [15]:
import pandas as pd

# ==============================
# 1. Load the CSV
# ==============================

file_path = "/content/apartments_for_rent_classified_100K.csv"

# The file is semicolon-separated
df = pd.read_csv(file_path, sep=';', encoding="cp1252", low_memory=False, quotechar='"')


# ==============================
# 2. Clean & Align Columns
# ==============================

# Strip extra spaces in column names
df.columns = df.columns.str.strip()

# Reset index - This might not be necessary after fixing the delimiter,
# but keep it for now if the original data had an index column.
df = df.reset_index(drop=True)

# ==============================
# 3. Save back to CSV
# ==============================
output_path = "apartments_for_rent_clean.csv"
df.to_csv(output_path, index=False)

print(f"Clean CSV saved as: {output_path}")

Clean CSV saved as: apartments_for_rent_clean.csv

In [26]:
df = pd.read_csv("/content/apartments_for_rent_clean.csv")

/tmp/ipython-input-3482007185.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/apartments_for_rent_clean.csv")

In [27]:
df.shape

(99492, 22)

In [28]:
df.head()

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668640009,housing/rent/apartment,One BR 507 & 509 Esplanade,"This unit is located at 507 & 509 Esplanade, R...",NaN,1.0,1.0,USD,No,Thumbnail,...,"$2,195",Monthly,542,507 509 Esplanade,Redondo Beach,CA,33.8520,-118.3759,RentLingo,1577360355
1,5668639818,housing/rent/apartment,Three BR 146 Lochview Drive,"This unit is located at 146 Lochview Drive, Ne...",NaN,1.5,3.0,USD,No,Thumbnail,...,"$1,250",Monthly,1500,146 Lochview Dr,Newport News,VA,37.0867,-76.4941,RentLingo,1577360340
2,5668639686,housing/rent/apartment,Three BR 3101 Morningside Drive,This unit is located at 3101 Morningside Drive...,NaN,2.0,3.0,USD,No,Thumbnail,...,"$1,395",Monthly,1650,3101 Morningside Dr,Raleigh,NC,35.8230,-78.6438,RentLingo,1577360332
3,5668639659,housing/rent/apartment,Two BR 209 Aegean Way,"This unit is located at 209 Aegean Way, Vacavi...",NaN,1.0,2.0,USD,No,Thumbnail,...,"$1,600",Monthly,820,209 Aegean Way,Vacaville,CA,38.3622,-121.9712,RentLingo,1577360330
4,5668639374,housing/rent/apartment,One BR 4805 Marquette NE,"This unit is located at 4805 Marquette NE, Alb...",NaN,1.0,1.0,USD,No,Thumbnail,...,$975,Monthly,624,4805 Marquette NE,Albuquerque,NM,35.1038,-106.6110,RentLingo,1577360308

In [23]:
# import pandas as pd

# # Example: create price categories
# bins = [0, 1000, 2000, 3000, 5000, 10000]
# labels = ["Very Low", "Low", "Medium", "High", "Luxury"]

# df["price_category"] = pd.cut(df["price"], bins=bins, labels=labels)

# print(df[["price", "price_category"]].head())

    price price_category
0  2195.0         Medium
1  1250.0            Low
2  1395.0            Low
3  1600.0            Low
4   975.0       Very Low

In [24]:
# median_price = df["price"].median()
# df["affordability"] = df["price"].apply(lambda x: "Affordable" if x <= median_price else "Expensive")

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             99492 non-null  int64
 1   category       99492 non-null  object
 2   title          99492 non-null  object
 3   body           99492 non-null  object
 4   amenities      83448 non-null  object
 5   bathrooms      99429 non-null  float64
 6   bedrooms       99368 non-null  float64
 7   currency       99492 non-null  object
 8   fee            99492 non-null  object
 9   has_photo      99492 non-null  object
 10  pets_allowed   39068 non-null  object
 11  price          99491 non-null  float64
 12  price_display  99491 non-null  object
 13  price_type     99492 non-null  object
 14  square_feet    99492 non-null  int64
 15  address        7943 non-null   object
 16  cityname       99190 non-null  object
 17  state          99190 non-null  object
 18  latitude       99467 non-null  float64
 19  longitude      99467 non-null  float64
 20  source         99492 non-null  object
 21  time           99492 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 16.7+ MB

In [30]:
df.isna().sum()

id                   0
category             0
title                0
body                 0
amenities        16044
bathrooms           63
bedrooms           124
currency             0
fee                  0
has_photo            0
pets_allowed     60424
price                1
price_display        1
price_type           0
square_feet          0
address          91549
cityname           302
state              302
latitude            25
longitude           25
source               0
time                 0
dtype: int64

In [20]:
df.duplicated().sum()

np.int64(84)

# **Handle Null values**

In [35]:
df.isna().sum()

id                   0
category             0
title                0
body                 0
amenities        16044
bathrooms           63
bedrooms           124
currency             0
fee                  0
has_photo            0
pets_allowed     60424
price                1
price_display        1
price_type           0
square_feet          0
address          91549
cityname           302
state              302
latitude            25
longitude           25
source               0
time                 0
dtype: int64

**DataType Change**

In [34]:
df["latitude"] = df["latitude"].dropna().astype(float)
df["longitude"] = df["longitude"].dropna().astype(float)